<h1>Editing Tool for <%= @student.name %></h1>

<%= render 'form', tool: @tool %>

<%#= link_to 'Show', @tool %> |
<%#= link_to 'Back', tools_path %>

<%= link_to 'Show', [@student, @tool] %> |
<%= link_to 'Back', student_tools_path(@student) %>
